#slider {
    @include flex(true);
    max-width: 940px;
    position: relative;
    margin: 0 auto;
  }
  
  #lorem {
    font-family: "Source Sans 3", sans-serif;
    min-width: 300px;
    max-width: 300px;
    margin: 0 14px;
    position: relative;
    z-index: 2;
    background: white;
    h2 {
      color: $blu;
      font-size: 32px;
      line-height: 37.5px;
      margin: 0;
      font-weight: 800;
      height: 120px;
    }
    p {
      font-size: 18px;
      line-height: 26px;
      margin: 20px 0 0;
      font-weight: 100;
    }
  }
  
  #first-row,
  #second-row {
    @include flex(true);
    height: 202px;
    width: 100%;
    margin: 0 0 10px 0;
    img {
      margin: 0 5px;
      border-radius: 5px;
    }
  }
  
  .images {
    @include flex(false);
    position: absolute;
    z-index: 0;
    height: 202px;
    right: 0;
    &.left {
      justify-content: flex-start;
      width: 100%;
    }
    img {
      height: calc(100% - 2px);
      position: relative;
    }
  }
  .images-holder {
    position: relative;
    width: calc(1090px * 2);
    overflow: hidden;
  }
  
  #second-row .images-holder {
    @extend .images-holder;
    width: calc(740px * 2);
  }
  
  @media only screen and (max-width: 600px) {
    #slider {
      display: grid;
      right: 10px;
      justify-items: end;
    }
  }
  